.ListItem {
  color: #00008b;
}
body {
  background-color: lightgray;
  color: #00007b;
  font-family: "Arial", sans-serif;
}
/* Customize style of navigation items */
.nav-item {
  font-weight: bold;
  text-transform: uppercase;
}
/* Add spacing (padding/margin) between elements */
div {
  align-self: start;
}
li {
  margin-bottom: 10px;
}

/* Change the font size, weight, and color of all headings */
h1,
h2,
h3,
span {
  font-size: 24px;
  font-weight: bold;
}
/* Customize input and button styles */
input,
button {
  padding: 10px;
  font-size: 1em;
  border: 2px solid #ccc;
  border-radius: 8px;
  background-color: #2f4f4f;
}
/* Use Media Queries to make sure the application is responsive for all device sizes (mobile, tablet, desktop, etc.) */
@media screen and (max-width: 768px) {
  /* Adjust styles for smaller devices */
  h1,
  h2,
  h3 {
    font-size: 20px;
  }

  input[type="text"],
  button {
    color: white;
    width: 100%;
  }
}
